/* Reset */
/*ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,object,iframe  margin: 0 padding: 0 */
a img, :link img, :visited img {
  border: none; }

/*table  border-collapse: collapse border-spacing: 0 */
:focus {
  outline: none; }

:root {
  color-scheme: light dark; }

.light-theme {
  color-scheme: light; }

@media (prefers-color-scheme: dark) {
  color-scheme: dark; }
.dark-theme {
  color-scheme: dark; }

/*Quickly Generate Different theme icons paths and Classes with SASS */
/* Sass Document */
/* Main mixin for generating theme variables from lists */
/* Four @each statements, instead of one earlier in the nesting creeates a more succinct final css. */
/* Early version of the mixin for seperate dark and light lists. May still prove useful. */
/* Div Background Properties Mixin */
:root {
  --mocha-frame: #000;
  --char-spacing: 0em;
  --font-color: #000;
  --font-tint: #555;
  --font-wgt: 400;
  --text-hover: #ee6600;
  --style-border-lte: #3a3a3a;
  --icon-complete: #675348;
  --transfer-bar: #050066; }

body.light-theme, body.light-theme > *, body.light-theme + * {
  --mocha-frame: #000;
  --char-spacing: 0em;
  --font-color: #000;
  --font-tint: #555;
  --font-wgt: 400;
  --text-hover: #ee6600;
  --style-border-lte: #3a3a3a;
  --icon-complete: #675348;
  --transfer-bar: #050066; }

@media (prefers-color-scheme: dark) {
  body, body > *, body + * {
    --mocha-frame: #555;
    --char-spacing: 0.01em;
    --font-color: #fff;
    --font-tint: #ddd;
    --font-wgt: 500;
    --text-hover: #d1c52a;
    --style-border-lte: #888;
    --icon-complete: #675348;
    --transfer-bar: #94BBD8; } }
body.dark-theme, body.dark-theme > *, body.dark-theme + * {
  --mocha-frame: #555;
  --char-spacing: 0.01em;
  --font-color: #fff;
  --font-tint: #ddd;
  --font-wgt: 500;
  --text-hover: #d1c52a;
  --style-border-lte: #888;
  --icon-complete: #675348;
  --transfer-bar: #94BBD8; }

:root {
  --bg-color: #fff;
  --bg-color-tint: #f2f2f2;
  --bg-color-opp: #222;
  --bg-menu: #eee;
  --font-color: #000;
  --font-tint: #555;
  --font-dtint: #555;
  --selected-text: #fff;
  --row-alt: #eee;
  --row-select: #354158;
  --row-hover: #ee6600;
  --divder-border: #ebebeb;
  --border-col: #909090;
  --navbar-bg: url(../images/bg-dropdown.gif); }

body.light-theme, body.light-theme > *, body.light-theme + * {
  --bg-color: #fff;
  --bg-color-tint: #f2f2f2;
  --bg-color-opp: #222;
  --bg-menu: #eee;
  --font-color: #000;
  --font-tint: #555;
  --font-dtint: #555;
  --selected-text: #fff;
  --row-alt: #eee;
  --row-select: #354158;
  --row-hover: #ee6600;
  --divder-border: #ebebeb;
  --border-col: #909090;
  --navbar-bg: url(../images/bg-dropdown.gif); }

@media (prefers-color-scheme: dark) {
  body, body > *, body + * {
    --bg-color: #121212;
    --bg-color-tint: #202020;
    --bg-color-opp: #eee;
    --bg-menu: #444;
    --font-color: #fff;
    --font-tint: #ddd;
    --font-dtint: #bbb;
    --selected-text: #000;
    --row-alt: #2a2a2a;
    --row-select: #94BBD8;
    --row-hover: #d1c52a;
    --divder-border: #363636;
    --border-col: #6f6f6f;
    --navbar-bg: url(../images/bg-dropdown_dark.gif); } }
body.dark-theme, body.dark-theme > *, body.dark-theme + * {
  --bg-color: #121212;
  --bg-color-tint: #202020;
  --bg-color-opp: #eee;
  --bg-menu: #444;
  --font-color: #fff;
  --font-tint: #ddd;
  --font-dtint: #bbb;
  --selected-text: #000;
  --row-alt: #2a2a2a;
  --row-select: #94BBD8;
  --row-hover: #d1c52a;
  --divder-border: #363636;
  --border-col: #6f6f6f;
  --navbar-bg: url(../images/bg-dropdown_dark.gif); }

/* Sass Document */
/* The icons were swapped in batched so there are three lists are necessary to accomodate inconsistent icon property and class naming.
 * Eventually I'll clean up. */
div {
  --goDownIcon: url(../icons/go-down.svg);
  --downButtonIcon: url(../icons/insert-link.svg);
  --uploadButtonIcon: url(../icons/list-add.svg);
  --listRemoveIcon: url(../icons/list-remove.svg);
  --resumeButtonIcon: url(../icons/media-playback-start.svg);
  --pauseButtonIcon: url(../icons/media-playback-pause.svg);
  --prefButtonIcon: url(../icons/configure.svg);
  --editClearIcon: url(../icons/edit-clear.svg);
  --docEditIcon: url(../icons/document-edit-verify.svg);
  --editRenameIcon: url(../icons/edit-rename.svg);
  --goBottomIcon: url(../icons/go-bottom.svg);
  --goTopIcon: url(../icons/go-top.svg);
  --goUpIcon: url(../icons/go-up.svg);
  --magnetIcon: url(../icons/kt-magnet.svg);
  --maxDownIcon: url(../icons/kt-set-max-download-speed.svg);
  --maxUpIcon: url(../icons/kt-set-max-upload-speed.svg);
  --forceStartIcon: url(../icons/media-seek-forward.svg);
  --viewCatIcon: url(../icons/view-categories.svg);
  --editCopyIcon: url(../icons/edit-copy.svg);
  --editDeleteIcon: url(../icons/edit-delete.svg);
  --helpAboutIcon: url(../icons/help-about.svg);
  --helpContentIcon: url(../icons/help-contents.svg);
  --logOutIcon: url(../icons/system-log-out.svg);
  --viewStatsIcon: url(../icons/view-statistics.svg);
  --walletIcon: url(../icons/wallet-open.svg);
  --searchIcon: url(../icons/edit-find.svg);
  --collapseIcon: url(../icons/collapse.svg);
  --slowOffIcon: url(../icons/slow_off.svg);
  --slowIcon: url(../icons/slow.svg);
  --connectedIcon: url(../icons/connected.svg);
  --disconnectedIcon: url(../icons/disconnected.svg);
  --firewalledIcon: url(../icons/firewalled.svg);
  --seedingIcon: url(../icons/seeding.svg);
  --groupDeleteIcon: url(../icons/user-group-delete.svg);
  --netServerIcon: url(../icons/network-server.svg);
  --worldIcon: url(../icons/application-x-mswinurl.svg);
  --warningIcon: url(../icons/dialog-warning.svg);
  --unavailableIcon: url(../icons/unavailable.svg);
  --inboxIcon: url(../icons/mail-folder-inbox.svg);
  --folderNewIcon: url(../icons/folder-new.svg);
  --mailReadIcon: url(../icons/mail-mark-read.svg);
  --viewRefreshIcon: url(../icons/view-refresh.svg);
  --downloadIcon: url(../icons/download.svg);
  --checkedIcon: url(../icons/completed.svg); }

.light-theme div {
  --goDownIcon: url(../icons/go-down.svg) !important;
  --downButtonIcon: url(../icons/insert-link.svg) !important;
  --uploadButtonIcon: url(../icons/list-add.svg) !important;
  --listRemoveIcon: url(../icons/list-remove.svg) !important;
  --resumeButtonIcon: url(../icons/media-playback-start.svg) !important;
  --pauseButtonIcon: url(../icons/media-playback-pause.svg) !important;
  --prefButtonIcon: url(../icons/configure.svg) !important;
  --editClearIcon: url(../icons/edit-clear.svg) !important;
  --docEditIcon: url(../icons/document-edit-verify.svg) !important;
  --editRenameIcon: url(../icons/edit-rename.svg) !important;
  --goBottomIcon: url(../icons/go-bottom.svg) !important;
  --goTopIcon: url(../icons/go-top.svg) !important;
  --goUpIcon: url(../icons/go-up.svg) !important;
  --magnetIcon: url(../icons/kt-magnet.svg) !important;
  --maxDownIcon: url(../icons/kt-set-max-download-speed.svg) !important;
  --maxUpIcon: url(../icons/kt-set-max-upload-speed.svg) !important;
  --forceStartIcon: url(../icons/media-seek-forward.svg) !important;
  --viewCatIcon: url(../icons/view-categories.svg) !important;
  --editCopyIcon: url(../icons/edit-copy.svg) !important;
  --editDeleteIcon: url(../icons/edit-delete.svg) !important;
  --helpAboutIcon: url(../icons/help-about.svg) !important;
  --helpContentIcon: url(../icons/help-contents.svg) !important;
  --logOutIcon: url(../icons/system-log-out.svg) !important;
  --viewStatsIcon: url(../icons/view-statistics.svg) !important;
  --walletIcon: url(../icons/wallet-open.svg) !important;
  --searchIcon: url(../icons/edit-find.svg) !important;
  --collapseIcon: url(../icons/collapse.svg) !important;
  --slowOffIcon: url(../icons/slow_off.svg) !important;
  --slowIcon: url(../icons/slow.svg) !important;
  --connectedIcon: url(../icons/connected.svg) !important;
  --disconnectedIcon: url(../icons/disconnected.svg) !important;
  --firewalledIcon: url(../icons/firewalled.svg) !important;
  --seedingIcon: url(../icons/seeding.svg) !important;
  --groupDeleteIcon: url(../icons/user-group-delete.svg) !important;
  --netServerIcon: url(../icons/network-server.svg) !important;
  --worldIcon: url(../icons/application-x-mswinurl.svg) !important;
  --warningIcon: url(../icons/dialog-warning.svg) !important;
  --unavailableIcon: url(../icons/unavailable.svg) !important;
  --inboxIcon: url(../icons/mail-folder-inbox.svg) !important;
  --folderNewIcon: url(../icons/folder-new.svg) !important;
  --mailReadIcon: url(../icons/mail-mark-read.svg) !important;
  --viewRefreshIcon: url(../icons/view-refresh.svg) !important;
  --downloadIcon: url(../icons/download.svg) !important;
  --checkedIcon: url(../icons/completed.svg) !important; }

@media (prefers-color-scheme: dark) {
  div {
    --goDownIcon: url(../icons/dark/go-down.svg);
    --downButtonIcon: url(../icons/dark/insert-link.svg);
    --uploadButtonIcon: url(../icons/dark/list-add.svg);
    --listRemoveIcon: url(../icons/dark/list-remove.svg);
    --resumeButtonIcon: url(../icons/dark/media-playback-start.svg);
    --pauseButtonIcon: url(../icons/dark/media-playback-pause.svg);
    --prefButtonIcon: url(../icons/dark/configure.svg);
    --editClearIcon: url(../icons/dark/edit-clear.svg);
    --docEditIcon: url(../icons/dark/document-edit-verify.svg);
    --editRenameIcon: url(../icons/dark/edit-rename.svg);
    --goBottomIcon: url(../icons/dark/go-bottom.svg);
    --goTopIcon: url(../icons/dark/go-top.svg);
    --goUpIcon: url(../icons/dark/go-up.svg);
    --magnetIcon: url(../icons/dark/kt-magnet.svg);
    --maxDownIcon: url(../icons/dark/kt-set-max-download-speed.svg);
    --maxUpIcon: url(../icons/dark/kt-set-max-upload-speed.svg);
    --forceStartIcon: url(../icons/dark/media-seek-forward.svg);
    --viewCatIcon: url(../icons/dark/view-categories.svg);
    --editCopyIcon: url(../icons/dark/edit-copy.svg);
    --editDeleteIcon: url(../icons/dark/edit-delete.svg);
    --helpAboutIcon: url(../icons/dark/help-about.svg);
    --helpContentIcon: url(../icons/dark/help-contents.svg);
    --logOutIcon: url(../icons/dark/system-log-out.svg);
    --viewStatsIcon: url(../icons/dark/view-statistics.svg);
    --walletIcon: url(../icons/dark/wallet-open.svg);
    --searchIcon: url(../icons/dark/edit-find.svg);
    --collapseIcon: url(../icons/dark/collapse.svg);
    --slowOffIcon: url(../icons/dark/slow_off.svg);
    --slowIcon: url(../icons/dark/slow.svg);
    --connectedIcon: url(../icons/dark/connected.svg);
    --disconnectedIcon: url(../icons/dark/disconnected.svg);
    --firewalledIcon: url(../icons/dark/firewalled.svg);
    --seedingIcon: url(../icons/dark/seeding.svg);
    --groupDeleteIcon: url(../icons/dark/user-group-delete.svg);
    --netServerIcon: url(../icons/dark/network-server.svg);
    --worldIcon: url(../icons/dark/application-x-mswinurl.svg);
    --warningIcon: url(../icons/dark/dialog-warning.svg);
    --unavailableIcon: url(../icons/dark/unavailable.svg);
    --inboxIcon: url(../icons/dark/mail-folder-inbox.svg);
    --folderNewIcon: url(../icons/dark/folder-new.svg);
    --mailReadIcon: url(../icons/dark/mail-mark-read.svg);
    --viewRefreshIcon: url(../icons/dark/view-refresh.svg);
    --downloadIcon: url(../icons/dark/download.svg);
    --checkedIcon: url(../icons/dark/completed.svg); } }
.dark-theme div {
  --goDownIcon: url(../icons/dark/go-down.svg);
  --downButtonIcon: url(../icons/dark/insert-link.svg);
  --uploadButtonIcon: url(../icons/dark/list-add.svg);
  --listRemoveIcon: url(../icons/dark/list-remove.svg);
  --resumeButtonIcon: url(../icons/dark/media-playback-start.svg);
  --pauseButtonIcon: url(../icons/dark/media-playback-pause.svg);
  --prefButtonIcon: url(../icons/dark/configure.svg);
  --editClearIcon: url(../icons/dark/edit-clear.svg);
  --docEditIcon: url(../icons/dark/document-edit-verify.svg);
  --editRenameIcon: url(../icons/dark/edit-rename.svg);
  --goBottomIcon: url(../icons/dark/go-bottom.svg);
  --goTopIcon: url(../icons/dark/go-top.svg);
  --goUpIcon: url(../icons/dark/go-up.svg);
  --magnetIcon: url(../icons/dark/kt-magnet.svg);
  --maxDownIcon: url(../icons/dark/kt-set-max-download-speed.svg);
  --maxUpIcon: url(../icons/dark/kt-set-max-upload-speed.svg);
  --forceStartIcon: url(../icons/dark/media-seek-forward.svg);
  --viewCatIcon: url(../icons/dark/view-categories.svg);
  --editCopyIcon: url(../icons/dark/edit-copy.svg);
  --editDeleteIcon: url(../icons/dark/edit-delete.svg);
  --helpAboutIcon: url(../icons/dark/help-about.svg);
  --helpContentIcon: url(../icons/dark/help-contents.svg);
  --logOutIcon: url(../icons/dark/system-log-out.svg);
  --viewStatsIcon: url(../icons/dark/view-statistics.svg);
  --walletIcon: url(../icons/dark/wallet-open.svg);
  --searchIcon: url(../icons/dark/edit-find.svg);
  --collapseIcon: url(../icons/dark/collapse.svg);
  --slowOffIcon: url(../icons/dark/slow_off.svg);
  --slowIcon: url(../icons/dark/slow.svg);
  --connectedIcon: url(../icons/dark/connected.svg);
  --disconnectedIcon: url(../icons/dark/disconnected.svg);
  --firewalledIcon: url(../icons/dark/firewalled.svg);
  --seedingIcon: url(../icons/dark/seeding.svg);
  --groupDeleteIcon: url(../icons/dark/user-group-delete.svg);
  --netServerIcon: url(../icons/dark/network-server.svg);
  --worldIcon: url(../icons/dark/application-x-mswinurl.svg);
  --warningIcon: url(../icons/dark/dialog-warning.svg);
  --unavailableIcon: url(../icons/dark/unavailable.svg);
  --inboxIcon: url(../icons/dark/mail-folder-inbox.svg);
  --folderNewIcon: url(../icons/dark/folder-new.svg);
  --mailReadIcon: url(../icons/dark/mail-mark-read.svg);
  --viewRefreshIcon: url(../icons/dark/view-refresh.svg);
  --downloadIcon: url(../icons/dark/download.svg);
  --checkedIcon: url(../icons/dark/completed.svg); }

.goDownIcon {
  background-image: var(--goDownIcon); }

.downButtonIcon {
  background-image: var(--downButtonIcon); }

.uploadButtonIcon {
  background-image: var(--uploadButtonIcon); }

.listRemoveIcon {
  background-image: var(--listRemoveIcon); }

.resumeButtonIcon {
  background-image: var(--resumeButtonIcon); }

.pauseButtonIcon {
  background-image: var(--pauseButtonIcon); }

.prefButtonIcon {
  background-image: var(--prefButtonIcon); }

.editClearIcon {
  background-image: var(--editClearIcon); }

.docEditIcon {
  background-image: var(--docEditIcon); }

.editRenameIcon {
  background-image: var(--editRenameIcon); }

.goBottomIcon {
  background-image: var(--goBottomIcon); }

.goTopIcon {
  background-image: var(--goTopIcon); }

.goUpIcon {
  background-image: var(--goUpIcon); }

.magnetIcon {
  background-image: var(--magnetIcon); }

.maxDownIcon {
  background-image: var(--maxDownIcon); }

.maxUpIcon {
  background-image: var(--maxUpIcon); }

.forceStartIcon {
  background-image: var(--forceStartIcon); }

.viewCatIcon {
  background-image: var(--viewCatIcon); }

.editCopyIcon {
  background-image: var(--editCopyIcon); }

.editDeleteIcon {
  background-image: var(--editDeleteIcon); }

.helpAboutIcon {
  background-image: var(--helpAboutIcon); }

.helpContentIcon {
  background-image: var(--helpContentIcon); }

.logOutIcon {
  background-image: var(--logOutIcon); }

.viewStatsIcon {
  background-image: var(--viewStatsIcon); }

.walletIcon {
  background-image: var(--walletIcon); }

.searchIcon {
  background-image: var(--searchIcon); }

.collapseIcon {
  background-image: var(--collapseIcon); }

.slowOffIcon {
  background-image: var(--slowOffIcon); }

.slowIcon {
  background-image: var(--slowIcon); }

.connectedIcon {
  background-image: var(--connectedIcon); }

.disconnectedIcon {
  background-image: var(--disconnectedIcon); }

.firewalledIcon {
  background-image: var(--firewalledIcon); }

.seedingIcon {
  background-image: var(--seedingIcon); }

.groupDeleteIcon {
  background-image: var(--groupDeleteIcon); }

.netServerIcon {
  background-image: var(--netServerIcon); }

.worldIcon {
  background-image: var(--worldIcon); }

.warningIcon {
  background-image: var(--warningIcon); }

.unavailableIcon {
  background-image: var(--unavailableIcon); }

.inboxIcon {
  background-image: var(--inboxIcon); }

.folderNewIcon {
  background-image: var(--folderNewIcon); }

.mailReadIcon {
  background-image: var(--mailReadIcon); }

.viewRefreshIcon {
  background-image: var(--viewRefreshIcon); }

.downloadIcon {
  background-image: var(--downloadIcon); }

.checkedIcon {
  background-image: var(--checkedIcon); }

div {
  --downButton: url(../icons/insert-link.svg);
  --uploadButton: url(../icons/list-add.svg);
  --resumeButton: url(../icons/media-playback-start.svg);
  --pauseButton: url(../icons/media-playback-pause.svg);
  --prefButton: url(../icons/configure.svg); }

.light-theme div {
  --downButton: url(../icons/insert-link.svg) !important;
  --uploadButton: url(../icons/list-add.svg) !important;
  --resumeButton: url(../icons/media-playback-start.svg) !important;
  --pauseButton: url(../icons/media-playback-pause.svg) !important;
  --prefButton: url(../icons/configure.svg) !important; }

@media (prefers-color-scheme: dark) {
  div {
    --downButton: url(../icons/dark/insert-link.svg);
    --uploadButton: url(../icons/dark/list-add.svg);
    --resumeButton: url(../icons/dark/media-playback-start.svg);
    --pauseButton: url(../icons/dark/media-playback-pause.svg);
    --prefButton: url(../icons/dark/configure.svg); } }
.dark-theme div {
  --downButton: url(../icons/dark/insert-link.svg);
  --uploadButton: url(../icons/dark/list-add.svg);
  --resumeButton: url(../icons/dark/media-playback-start.svg);
  --pauseButton: url(../icons/dark/media-playback-pause.svg);
  --prefButton: url(../icons/dark/configure.svg); }

.downButton {
  background-image: var(--downButton); }

.uploadButton {
  background-image: var(--uploadButton); }

.resumeButton {
  background-image: var(--resumeButton); }

.pauseButton {
  background-image: var(--pauseButton); }

.prefButton {
  background-image: var(--prefButton); }

div {
  --downloading-icon: url(../icons/downloading.svg);
  --stalledDL-icon: url(../icons/stalledDL.svg);
  --stalledUP-icon: url(../icons/stalledUP.svg);
  --uploading-icon: url(../icons/uploading.svg);
  --paused-icon: url(../icons/paused.svg);
  --completed-icon: url(../icons/completed.svg);
  --queued-icon: url(../icons/queued.svg);
  --checking-icon: url(../icons/checking.svg);
  --error-icon: url(../icons/error.svg);
  --resumed-icon: url(../icons/resumed.svg);
  --filterall-icon: url(../icons/filterall.svg);
  --filteractive-icon: url(../icons/filteractive.svg);
  --filterinactive-icon: url(../icons/filterinactive.svg);
  --filterstalled-icon: url(../icons/filterstalled.svg);
  --folder-icon: url(../icons/inode-directory.svg); }

.light-theme div {
  --downloading-icon: url(../icons/downloading.svg) !important;
  --stalledDL-icon: url(../icons/stalledDL.svg) !important;
  --stalledUP-icon: url(../icons/stalledUP.svg) !important;
  --uploading-icon: url(../icons/uploading.svg) !important;
  --paused-icon: url(../icons/paused.svg) !important;
  --completed-icon: url(../icons/completed.svg) !important;
  --queued-icon: url(../icons/queued.svg) !important;
  --checking-icon: url(../icons/checking.svg) !important;
  --error-icon: url(../icons/error.svg) !important;
  --resumed-icon: url(../icons/resumed.svg) !important;
  --filterall-icon: url(../icons/filterall.svg) !important;
  --filteractive-icon: url(../icons/filteractive.svg) !important;
  --filterinactive-icon: url(../icons/filterinactive.svg) !important;
  --filterstalled-icon: url(../icons/filterstalled.svg) !important;
  --folder-icon: url(../icons/inode-directory.svg) !important; }

@media (prefers-color-scheme: dark) {
  div {
    --downloading-icon: url(../icons/dark/downloading.svg);
    --stalledDL-icon: url(../icons/dark/stalledDL.svg);
    --stalledUP-icon: url(../icons/dark/stalledUP.svg);
    --uploading-icon: url(../icons/dark/uploading.svg);
    --paused-icon: url(../icons/dark/paused.svg);
    --completed-icon: url(../icons/dark/completed.svg);
    --queued-icon: url(../icons/dark/queued.svg);
    --checking-icon: url(../icons/dark/checking.svg);
    --error-icon: url(../icons/dark/error.svg);
    --resumed-icon: url(../icons/dark/resumed.svg);
    --filterall-icon: url(../icons/dark/filterall.svg);
    --filteractive-icon: url(../icons/dark/filteractive.svg);
    --filterinactive-icon: url(../icons/dark/filterinactive.svg);
    --filterstalled-icon: url(../icons/dark/filterstalled.svg);
    --folder-icon: url(../icons/dark/inode-directory.svg); } }
.dark-theme div {
  --downloading-icon: url(../icons/dark/downloading.svg);
  --stalledDL-icon: url(../icons/dark/stalledDL.svg);
  --stalledUP-icon: url(../icons/dark/stalledUP.svg);
  --uploading-icon: url(../icons/dark/uploading.svg);
  --paused-icon: url(../icons/dark/paused.svg);
  --completed-icon: url(../icons/dark/completed.svg);
  --queued-icon: url(../icons/dark/queued.svg);
  --checking-icon: url(../icons/dark/checking.svg);
  --error-icon: url(../icons/dark/error.svg);
  --resumed-icon: url(../icons/dark/resumed.svg);
  --filterall-icon: url(../icons/dark/filterall.svg);
  --filteractive-icon: url(../icons/dark/filteractive.svg);
  --filterinactive-icon: url(../icons/dark/filterinactive.svg);
  --filterstalled-icon: url(../icons/dark/filterstalled.svg);
  --folder-icon: url(../icons/dark/inode-directory.svg); }

.downloading-icon {
  background-image: var(--downloading-icon); }

.stalledDL-icon {
  background-image: var(--stalledDL-icon); }

.stalledUP-icon {
  background-image: var(--stalledUP-icon); }

.uploading-icon {
  background-image: var(--uploading-icon); }

.paused-icon {
  background-image: var(--paused-icon); }

.completed-icon {
  background-image: var(--completed-icon); }

.queued-icon {
  background-image: var(--queued-icon); }

.checking-icon {
  background-image: var(--checking-icon); }

.error-icon {
  background-image: var(--error-icon); }

.resumed-icon {
  background-image: var(--resumed-icon); }

.filterall-icon {
  background-image: var(--filterall-icon); }

.filteractive-icon {
  background-image: var(--filteractive-icon); }

.filterinactive-icon {
  background-image: var(--filterinactive-icon); }

.filterstalled-icon {
  background-image: var(--filterstalled-icon); }

.folder-icon {
  background-image: var(--folder-icon); }

#downloadButton div, .insertLink {
  background-image: var(--downButton); }

#uploadButton div, .listAdd {
  background-image: var(--uploadButton); }

#deleteButton div, .deleteIcon, .listRemoveIcon {
  background-image: var(--listRemoveIcon); }

#resumeButton div, .mediaStart {
  background-image: var(--resumeButton); }

#pauseButton div, .mediaPause {
  background-image: var(--pauseButton); }

#preferencesButton div, .configureIcon {
  background-image: var(--prefButton); }

/* Structure */
body {
  margin: 0;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: var(--font-wgt);
  line-height: 18px;
  letter-spacing: var(--char-spacing);
  color: var(--font-tint); }

.aside {
  width: 300px; }

.invisible {
  display: none; }

/* Typography */
h2, h3, h4 {
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 12px;
  font-weight: bold;
  color: #333; }

h2 {
  font-size: 14px;
  color: var(--font-dtint);
  font-weight: bold; }

#mochaPage h3 {
  display: block;
  font-size: 12px;
  padding: 6px 0 6px 0;
  margin: 0 0 8px 0;
  border-bottom: 1px solid #bbb; }

#error_div {
  color: #f00;
  font-weight: bold; }

h4 {
  font-size: 11px; }

a {
  color: var(--text-hover);
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

p {
  margin: 0;
  padding: 0 0 9px 0; }

/* List Elements */
ul {
  list-style: outside;
  margin: 0 0 9px 16px; }

dt {
  font-weight: bold; }

dd {
  padding: 0 0 9px 0; }

/* Code */
pre {
  background-color: var(--bg-color);
  color: #006600;
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  max-height: 250px;
  overflow: auto;
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid #d1d7dc; }

/* Dividers */
hr {
  background-color: #ddd;
  color: #ccc;
  height: 1px;
  border: 0px; }

.vcenter {
  vertical-align: middle; }

#urls {
  width: 90%;
  height: 100%; }

#trackersUrls {
  width: 90%;
  height: 100%; }

#Filters ul {
  list-style-type: none; }
  #Filters ul li {
    margin-left: -16px; }
  #Filters ul img {
    padding: 2px 4px;
    vertical-align: middle;
    width: 16px;
    height: 16px; }

.selectedFilter {
  background-color: var(--row-select);
  color: var(--selected-text); }
  .selectedFilter a {
    color: var(--selected-text); }

#properties {
  background-color: #e5e5e5; }

a.propButton {
  border: 1px solid #55515b;
  /*border-radius: 3px */
  padding: 2px;
  margin-left: 3px;
  margin-right: 3px; }
  a.propButton img {
    margin-bottom: -4px; }

.scrollableMenu {
  overflow-y: auto;
  overflow-x: hidden; }

/* context menu specific */
.contextMenu {
  border: 1px solid #999;
  padding: 0;
  background: var(--row-alt);
  list-style-type: none;
  display: none; }
  .contextMenu li {
    margin: 0;
    padding: 0; }
    .contextMenu li a {
      display: block;
      padding: 5px 20px 5px 5px;
      font-size: 12px;
      text-decoration: none;
      font-family: tahoma, arial, sans-serif;
      color: var(--font-color);
      white-space: nowrap; }
      .contextMenu li a:hover {
        background-color: var(--bg-color); }
      .contextMenu li a.disabled {
        color: #ccc;
        font-style: italic; }
        .contextMenu li a.disabled:hover {
          background-color: #eee; }
    .contextMenu li ul {
      padding: 0;
      border: 1px solid #999;
      padding: 0;
      background: var(--bg-color);
      list-style-type: none;
      position: absolute;
      left: -999em;
      z-index: 8000;
      margin: -29px 0 0 100%;
      width: 164px; }
      .contextMenu li ul li a {
        position: relative; }
    .contextMenu li img {
      width: 16px;
      height: 16px;
      margin-bottom: -4px;
      -ms-interpolation-mode: bicubic; }
    .contextMenu li input[type=checkbox] {
      position: relative;
      top: 0px; }
  .contextMenu li a.arrow-right, .contextMenu li a:hover.arrow-right {
    background-image: url(../images/arrow-right.gif);
    background-repeat: no-repeat;
    background-position: right center; }
  .contextMenu li:hover ul, .contextMenu li.ieHover ul, .contextMenu li li:hover ul, .contextMenu li li.ieHover ul, .contextMenu li li li:hover ul, .contextMenu li li li.ieHover ul {
    left: auto; }

.contextMenu .separator {
  border-top: 1px solid #999; }

/* Sliders */
.slider {
  clear: both;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  width: 400px;
  margin-bottom: 15px; }

.sliderWrapper {
  position: relative;
  font-size: 1px;
  line-height: 1px;
  height: 9px;
  width: 422px; }

.sliderarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  width: 420px;
  font-size: 1px;
  line-height: 1px;
  background: #f2f2f2 url(../images/slider-area.gif) repeat-x;
  border: 1px solid #a3a3a3;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.sliderknob {
  position: absolute;
  top: 0;
  left: 0;
  height: 9px;
  width: 19px;
  font-size: 1px;
  line-height: 1px;
  background: url(../images/knob.gif) no-repeat;
  cursor: pointer;
  overflow: hidden;
  z-index: 2; }

.update {
  padding-bottom: 5px; }

.mochaToolButton {
  margin-right: 10px; }

/* Mocha Customization */
#mochaToolbar {
  /*margin-top: 5px oldvalues */
  margin-top: 4px;
  position: relative;
  height: 30px;
  overflow-y: hidden; }
  #mochaToolbar .divider {
    filter: var(--invert-image);
    background-image: url(../images/toolbox-divider.gif);
    background-repeat: no-repeat;
    background-position: left center;
    height: 10px;
    padding-left: 14px;
    padding-top: 14px; }
    #mochaToolbar .divider div, #mochaToolbar .divider img {
      filter: var(--invert-image); }

/* border-left: 2.5px solid var(--style-border-lte)
 * height: 10px
 * padding-left: 14px
 * padding-top: 10px */
.MyMenuIcon {
  margin-left: -18px;
  margin-bottom: -3px;
  padding-right: 5px; }

#mainWindowTabs {
  float: right;
  margin: 4px 5px 0 0; }

#torrentsFilterToolbar {
  float: right;
  margin-right: 30px; }

#torrentsFilterInput {
  width: 160px;
  padding-left: 2em;
  background-image: var(--searchIcon);
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: left; }

#torrentFilesFilterToolbar {
  float: right;
  margin-right: 30px; }

#torrentFilesFilterInput {
  width: 160px;
  padding-left: 2em;
  background-image: var(--searchIcon);
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: left; }

/* Tri-state checkbox */
label.tristate {
  background: url(../images/3-state-checkbox.gif) 0 0 no-repeat;
  display: block;
  float: left;
  height: 13px;
  margin: 0.15em 8px 5px 0px;
  overflow: hidden;
  text-indent: -999em;
  width: 13px; }
label.checked {
  background-position: 0 -13px; }
label.partial {
  background-position: 0 -26px; }

fieldset.settings {
  border: solid 1px var(--mocha-frame);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 4px 4px 4px 10px; }
  fieldset.settings legend {
    margin-left: 8px;
    padding: 4px;
    font-weight: bold; }
  fieldset.settings label {
    padding: 2px;
    color: var(--font-color-tint); }
  fieldset.settings + div.formRow {
    margin-top: 10px; }

div.formRow {
  clear: left;
  display: block; }

.filterWrapper {
  margin-bottom: 4px; }

.filterTitle {
  background: var(--bg-color-tint);
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 0px 4px 5px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .filterTitle:nth-of-type(1) {
    padding-top: 5px; }
  .filterTitle div {
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
    padding: 0px 5px;
    position: relative;
    top: 0px;
    left: 2px;
    cursor: pointer;
    margin-top: 0px;
    background-image: var(--goDownIcon);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block; }
    .filterTitle div.rotate {
      transform: rotate(270deg);
      top: -6px;
      left: 0px; }

ul.filterList {
  margin: 0 0 0 16px;
  padding-left: 0; }
  ul.filterList a {
    height: 22px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    vertical-align: middle; }
  ul.filterList li:hover {
    background-color: var(--row-hover); }
    ul.filterList li:hover a {
      color: var(--selected-text); }

td.generalLabel {
  white-space: nowrap;
  text-align: right;
  width: 1px;
  vertical-align: top; }

#torrentFilesTableDiv {
  line-height: 20px; }

#torrentTrackersTableDiv,
#webseedsTable {
  line-height: 25px; }

.filesTableCollapseIcon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  cursor: pointer;
  margin-bottom: -3px;
  margin-top: 0px;
  padding-right: 4px;
  background-image: var(--goDownIcon);
  background-size: contain;
  display: inline-block; }

.filesTableCollapseIcon.rotate {
  transform: rotate(270deg);
  margin-bottom: -1px;
  margin-top: -2px;
  top: 4px; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#prop_general {
  padding: 2px; }

#watched_folders_tab {
  border-collapse: collapse; }

#watched_folders_tab td, #watched_folders_tab th {
  padding: 2px 4px;
  border: 1px solid black; }

.select-watched-folder-editable {
  position: relative;
  background-color: var(--bg-color);
  border: solid grey 1px;
  width: 160px;
  height: 20px; }
  .select-watched-folder-editable select {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border: none;
    width: 160px;
    margin: 0; }
  .select-watched-folder-editable input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    padding: 1px;
    border: none; }
  .select-watched-folder-editable .ctxt_icon {
    background-origin: content-box;
    padding-left: 170px; }
  .select-watched-folder-editable select:focus, .select-watched-folder-editable .select-editable input:focus {
    outline: none; }

/* Workaround to prevent the transfer list from
 * disappearing when zooming in the browser.
 */
#filtersColumn_handle {
  margin-left: -1px; }

#error_div {
  float: left;
  font-size: 14px; }

.combo_priority {
  font-size: 1em; }

td.statusBarSeparator {
  width: 22px;
  background-image: url("../images/toolbox-divider.gif");
  background-repeat: no-repeat;
  background-position: center 1px;
  background-size: 2px 18px; }

/* Statistics window */
.statisticsValue {
  text-align: right; }

/* Search tab */
#SearchPanel, #SearchPanel_wrapper, #SearchPanel_pad {
  height: inherit; }

#searchResults {
  padding: 0 20px;
  height: 100%; }

#searchResultsTableContainer {
  height: calc(100% - 140px);
  -moz-height: calc(100% - 140px);
  -webkit-height: calc(100% - 140px);
  overflow: auto; }

#searchResultsTableDiv {
  height: calc(100% - 26px) !important;
  -moz-height: calc(100% - 26px) !important;
  -webkit-height: calc(100% - 26px) !important; }

#searchResults .dynamicTabTable {
  width: 100%; }

#searchResults .numSearchResults {
  font-style: italic; }

.red {
  color: red; }

.green {
  color: green; }

.searchPluginsTableRow {
  cursor: pointer; }

#torrentFilesTableDiv .dynamicTable tr.nonAlt {
  background-color: var(--bg-color); }
  #torrentFilesTableDiv .dynamicTable tr.nonAlt.selected {
    background-color: var(--row-select);
    color: var(--selected-text); }
  #torrentFilesTableDiv .dynamicTable tr.nonAlt:hover {
    background-color: var(--row-hover);
    color: var(--selected-text); }

/* Beginning of Majority of Overrides and New CSS
 * Some changes have been made to the original CSS. 
 * Mostly var replacements for hard values */
/*Main Menu Icons and Ovverides */
#desktopNavbar div {
  height: 16px;
  width: 16px;
  margin: 0px 5px -3px -18px;
  top: 1px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

/*ToolBar Icons */
#mochaToolbar a > div {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

/*Filter List Icon Divs Sizing and Styles */
#statusFilterList a > div {
  padding: 0px 4px;
  margin-bottom: -1px;
  top: 3px;
  width: 16px;
  height: 16px;
  position: relative;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

/*Folder Icon Divs Sizing and Styles */
#tagFilterList div, #categoryFilterList div, #trackerFilterList div {
  padding: 0px 4px;
  top: 1px;
  margin: 2px 0px;
  width: 16px;
  height: 16px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

/*Context Menu Icons */
.ctxt_icon {
  margin-top: -2px;
  top: 4px;
  height: 16px;
  width: 16px;
  position: relative;
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

#contextTagList input[type=checkbox] {
  position: relative;
  top: 0px; }

.spinnerIcon {
  background-image: url(images/spinner.gif); }

/*Footer */
#desktopFooterWrapper table {
  margin-top: -4px; }

#desktopFooter .ctxt_icon {
  top: 2px;
  background-size: contain; }

#alternativeSpeedLimits.ctxt_icon {
  width: 24px; }

.speedLabel div {
  top: 3px;
  margin-bottom: -2px;
  margin-right: 6px; }

/* Icon sizing */
.gen_icon, .gen_icon24 {
  margin-top: -2px;
  top: 4px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

.gen_icon {
  height: 16px;
  width: 16px; }

.gen_icon24 {
  height: 24px;
  width: 24px; }

/*Transfer Bar overrides */
div .progressbar_wrapper {
  border-color: var(--font-color) !important; }

/* % of download completed */
.progressbar_dark {
  background: var(--transfer-bar) !important;
  color: var(--selected-text) !important; }

/* % of download uncompleted */
.progressbar_light {
  background: var(--bg-color) !important;
  color: var(--font-color) !important; }

/* Pref Pane Overrides */
#speedTab > div {
  margin-top: -2px;
  top: 4px;
  height: 12px;
  width: 25px;
  position: relative;
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

/* Dark Mode Toggle Button */
:root {
  --themeButton: url(../icons/dark/theme_dark.svg); }

body.light-theme, body.light-theme > *, body.light-theme + * {
  --themeButton: url(../icons/dark/theme_dark.svg); }

@media (prefers-color-scheme: dark) {
  body, body > *, body + * {
    --themeButton: url(../icons/dark/theme_light.svg); } }
body.dark-theme, body.dark-theme > *, body.dark-theme + * {
  --themeButton: url(../icons/dark/theme_light.svg); }

.themeButton {
  background-image: var(--themeButton);
  position: relative;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

#btn-toggle {
  overflow: visible;
  outline: 0;
  z-index: 2;
  position: relative;
  top: 0px;
  cursor: pointer;
  display: inline-block; }

/* Input field and scrollbars */
:root {
  --button-bg: #fff;
  --brdr-top: #B5B5B5;
  --brdr-bottom: #B5B5B5;
  --select-arr: url(../icons/dark/arrow_light.svg); }

body.light-theme, body.light-theme > *, body.light-theme + * {
  --button-bg: #fff;
  --brdr-top: #B5B5B5;
  --brdr-bottom: #B5B5B5;
  --select-arr: url(../icons/dark/arrow_light.svg); }

@media (prefers-color-scheme: dark) {
  body, body > *, body + * {
    --button-bg: #555;
    --brdr-top: #3A3A3A;
    --brdr-bottom: #5A5A5A;
    --select-arr: url(../icons/dark/arrow_dark.svg); } }
body.dark-theme, body.dark-theme > *, body.dark-theme + * {
  --button-bg: #555;
  --brdr-top: #3A3A3A;
  --brdr-bottom: #5A5A5A;
  --select-arr: url(../icons/dark/arrow_dark.svg); }

select {
  color: var(--font-color);
  border: 1px solid var(--border-col);
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  padding: 3px 22px 3px 8px;
  vertical-align: middle;
  background: var(--bg-color-tint) var(--select-arr) right/auto 87.5% no-repeat; }
  select:hover {
    background-color: var(--bg-menu); }

textarea, input[type=text], #mail_password_text {
  background-color: var(--bg-color-tint);
  border: 1px solid var(--brdr-top);
  color: var(--font-color); }

#torrentFilesFilterInput, #torrentsFilterInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--bg-color);
  border-top-color: var(--brdr-top);
  border-left-color: var(--brdr-top);
  border-right-color: var(--brdr-bottom);
  border-bottom-color: var(--brdr-bottom);
  border-image: none 100% 1 0 stretch; }

button {
  background-color: var(--button-bg);
  border: 1px solid var(--border-col);
  color: var(--font-color);
  border-radius: 4px; }
  button:hover {
    background-color: var(--bg-color-tint); }
